.tabs  {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    height: 50px;
    width: 100px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

#tabContent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.active {
    background-color: #564852;
}

.articleImg {
    width: 300px;
    height: 200px;
    object-fit: cover;
}